
html {
  height: 100%;
}
body {
  min-height: 100%;
   background:linear-gradient(rgba(50,100,250,0.9),transparent);

}
.card{
padding: 2%;
height: 130%;
transition: all .2s ease-in-out;

}
.card:hover{
transform: scale(1.1);

}
.btn-right{
display: flex;
margin-left: 50%;
justify-content: space-evenly;
}

.btn-update{

color: white;
background: Green;
border: none;
border-radius: 4px;
transition: all .2s ease-in-out;

}
.btn-update:hover { transform: scale(1.1); }


.btn-delete{
color: white;
background: red;
border: none;
border-radius: 4px;
transition: all .2s ease-in-out;
}
.btn-delete:hover{
 transform: scale(1.1);
}

.form{
    display: flex;
}