@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing:content-box;
}

body {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
h3{
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}


.box-mid{

    border-radius: 30px;
    border: 50px solid rgb(148, 152, 163);
    height: 260px;
    background-color: rgb(148, 152, 163);
    animation: mymove 4s infinite;
}
@keyframes mymove {
    50% {box-shadow: -5px -5px 50px #515b74;}
  }
.admin-form{
margin-top: 50%;
}